.card
{
        /* height: 203px; */
        background-color: white;
        
        
        font-size: 18px;
     

        border-radius: 14px;
        width: 100%;

}


.card-infor {
        padding: 16px;
}

.count {
        font-size: 18px;
        font-weight: bold;
        margin-top: 16px;
}



.bottom-infor {
        display: flex;
        padding: 8px 14px;
        color: white;
        border-radius: 0px 0px 12px 12px;
}

.bg-bad {
        background: #FF4A55;

}

.bg-good {
        background:#3026DC;
}